<%
var L = function(key) {
    return AD.lang.label.getLabelSpan(key);
}
%><div class="panel panel-default gmaGraph-<%= id %>">
    <div class="navbar">
        <div class="btn-group">
            <button type="primary button" class="btn opsportal-btn opsportal-btn-dk dropdown-toggle" data-toggle="dropdown">
                <%== L('[Assignments]') %><span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
            <% assignments.forEach(function(assignment) { %>
                <li class="assignment-item" nodeId="<%= assignment.nodeId %>"><a href="#"><%= assignment.shortName %></a></li>
            <% }) %>
            </ul>
        </div>
        <div class="measurements-busy" style="float:right"></div>
        <div class="button-measurements btn-group" style="float:right" >
            <button type="button" class="btn opsportal-btn opsportal-btn-dk dropdown-toggle" data-toggle="dropdown">
                <%== L('[Measurements]') %><span class="caret"></span>
            </button>
            <ul class="measurements-list dropdown-menu" role="menu">
                <li><%== L('[Choose Assignment]') %></li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <span class="opstool-dashboard-measurementname"><%== L('[choose an assignment ...]') %></span>
        <div class="well" >Content for ADDBWidgetGmaGraph</div>
    </div>
</div>